[routes]

GET /=App\Controller\WorkTimeController->index

GET /get=App\Controller\WorkTimeController->get
GET /take=App\Controller\WorkTimeController->take

POST /api/get=App\Controller\ApiController->get
POST /api/take=App\Controller\ApiController->take

GET /register=App\Controller\UserController->register
GET /login=App\Controller\UserController->login
GET /logout=App\Controller\UserController->logout

POST /register=App\Controller\UserController->UserRegister
POST /login=App\Controller\UserController->UserLogin
POST /logout=App\Controller\UserController->UserLogout

; installation routes
GET /install=App\Controller\InstallationController->showInstall
POST /install=App\Controller\InstallationController->install

GET /uninstall=App\Controller\InstallationController->showUninstall
POST /uninstall=App\Controller\InstallationController->uninstall
