.div-center {
    margin-left: 50% !important;
    transform: translateX(-50%) !important;
}

.color-red {
    color: red !important;
}

.color-green {
    color: green !important;
}

body {
    margin: 0;
}

input[disabled] {
    cursor: not-allowed;
}

a {
    cursor: pointer;
}

.remove-entry {
    cursor: pointer;
}