.header {
    text-align: center;
}

ul {
    list-style-type: none;
}

table {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

td {
    padding: 0;
}

li {
    border-bottom: 1px solid grey;
}

.note {
    display: none;
}

form, input {
    margin-bottom: 0;
    padding-top: 0;
}

.button-clear {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
